<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->

<table>

   <tr>
     <td><% longURL.forEach(function(url){ %>

      <p><%= url.shortURL %> : <%= url.longURL %></p>
      <a href ="http://localhost:8080/urls/<%= url.shortURL %>">Edit</a>
      <a href ="http://localhost:8080/urls/new">new</a>
     <!--  <form method="POST" action="/urls/<%= url.shortURL %> : <%= url.longURL %>?_method=DELETE">
       <button type="submit">Delete</button>
    </form> -->
     <% }) %>
    </td>
   </tr>
</table>
</body>
</html>